@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  font-family: "Manrope", sans-serif;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f5f5;
}

#contenedor {
  width: 100%;
}

#logoMobile {
  display: none;
}

#cabecera {
  background-color: #1fdec7;
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  position: fixed;
  top: 0;
  z-index: 99;
  border-bottom: rgb(21, 182, 196) 8px outset;
}

#logo img {
  width: 190px;
  height: auto;
  margin-top: 15%;
}

#inicio,
#consultas,
#servicios {
  display: inline-flex;
  vertical-align: 120%;
}

#perfil {
  display: inline-flex;
  vertical-align: 155%;
  margin-right: 60px;
}

#contenido {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

#principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.textoPrincipal {
  width: 90%;
  background-color: #000000;
  color: #fff;
  border-radius: 20px 20px 0 0;
  border-bottom: rgb(129, 129, 129) 8px outset;
  border-right: rgb(129, 129, 129) 8px outset;
}

.textoPrincipal p {
  height: 100%;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-left: 20px;
}

.textoSecundario {
  width: 90%;
  background-color: #1fdec7;
  color: #000000;
  border-radius: 0 0 20px 20px;
  border-bottom: rgb(129, 129, 129) 8px outset;
  border-right: rgb(129, 129, 129) 8px outset;
}

.textoSecundario p {
  height: 100%;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-left: 20px;
}

#carrusel-caja {
  -moz-animation: automatizacion 15s infinite linear;
  -o-animation: automatizacion 15s infinite linear;
  -webkit-animation: automatizacion 15s infinite linear;
  animation: automatizacion 15s infinite linear;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  height: 100%;
  width: 300%;
  background-color: #e3e3e3;
}
#carrusel-contenido {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  margin-top: 10px;
}
.imagenes {
  height: 400px;
  width: 100%;
}
.carrusel-elemento {
  float: left;
  width: 33.333%;
}
@-moz-keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes automatizacion {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

#pie1 {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: rgb(199, 199, 199) 8px outset;
}

#iconoPie {
  display: inline-block;
  margin-right: 20px;
}

#iconoPie img {
  width: 30px;
}

#pie2 {
  position: relative;
  background-color: rgb(0, 0, 0);
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  bottom: 0px;
  width: 100%;
}

#iconoContacto {
  display: inline-flex;
}

#iconoContacto img {
  height: 60px;
}

#sobreNosotros {
  display: inline-flex;
  margin-top: 20px;
}

.menu-desplegable {
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1fdec7;
  border-top: solid #000000;
  z-index: 9;
  overflow: hidden;
  transition: width 0.9s ease-in-out;
}

#iconoServicios:hover .menu-desplegable,
#iconoConsultas:hover .menu-desplegable {
  width: 100%;
}

.menu-desplegable {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

td {
  padding: 10px;
}

td a:hover {
  background-color: #1fdec7;
  color: #fff;
}

.menu-desplegable li {
  padding: 10px;
}

.menu-desplegable a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  margin-left: 20px;
  display: block;
}

.menu-desplegable a:hover {
  background-color: #1fdec7;
  color: #ffffff;
}

#iconoPerfil a {
  text-decoration: none;
  color: #000000;
}

/**********************************************************************************************************************/
/**PAGINA AREA PRIVADA**/

.contenedor-registro {
  width: 100%;
  justify-content: center;
  overflow: hidden;
  margin-top: 0;
}

.contenedor-registro h1 {
  text-align: center;
  margin-top: 20px;
}

.contenedor-registro h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.contenedor-registro h4 {
  text-align: center;
  font-weight: 300;
  margin-top: 0;
}

.contenedor-registro form {
  text-align: center;
  margin-bottom: 10px;
}

.contenedor-registro form input {
  background-color: #fafafa;
  font-size: 17px;
  width: 50%;
  height: 40px;
  margin-top: 10px;
}

.contenedor-registro input::placeholder {
  padding-left: 10px;
}

.contenedor-registro input[type="text"],
.contenedor-registro input[type="password"] {
  padding-left: 10px;
}

.contenedor-registro form div button {
  display: inline-block;
}

.boton1 {
  background-color: #d04ed6;
  width: 200px;
  height: 50px;
  border-radius: 20px 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.boton2 {
  background-color: #d9d9d9;
  width: 200px;
  height: 50px;
  border-radius: 20px 20px;
  font-size: 16px;
}

.pie1sesion {
  position: fixed;
}
.pie2sesion {
  position: fixed;
}

.olvideContraseña p {
  color: red;
  margin-top: 0px;
  margin-bottom: 30px;
}

/******************************************************************************************/
/***PAGINA DE ALERGIAS*/

.contenedor-servicios {
  height: 76%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.contenedor-servicios h1 {
  margin-top: 20px;
}

.contenedor-servicios input {
  width: 600px;
  height: 50px;
  margin-right: 200px;
  margin-top: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.contenedor-servicios input[type="text"] {
  padding-left: 10px;
}

.textoDatos {
  margin-top: 20px;
  font-size: 22px;
}

.fila1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.fila1 img,
.fila1 form {
  align-items: center;
}

.fila2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}

.calendario,
.observacion {
  position: relative;
  cursor: pointer;
}

.calendario:hover::before,
.observacion:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  display: none;
  margin-top: 10px;
}

.calendario:hover::before,
.observacion:hover::before {
  display: block;
}

.foto-medico1 {
  display: none;
}

.calendario {
  width: 119px;
  height: 126px;
  left: 0px;
  top: 0px;
}
.observacion {
  margin-left: 20px;
  margin-top: 0px;
}

.foto-medico {
  margin-left: 350px;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.iconos2 {
  width: 50%;
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: absolute;
  top: 0;
  left: 80px;
  margin-top: 20px;
}

.menu-desplegable-calendario {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-desplegable-calendario ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-desplegable-calendario ul li {
  padding: 10px;
  cursor: pointer;
}

.menu-desplegable-calendario ul li:hover {
  background-color: #f0f0f0;
}

.flatpickr-calendar {
  position: absolute;
  top: 0px;
  margin-top: 20px;
  left: 0;
  z-index: 9999;
}

.fecha-seleccionada {
  display: none;
}

.fecha-seleccionada.mostrar {
  display: block;
  position: absolute;
  left: 27%;
  font-size: 20px;
  border: #d9d9d9 solid;
  padding: 10px;
  border-radius: 10px;
  top: 95%;
}

.confirmar-cita {
  position: absolute;
  left: 35%;
  margin-top: 70px;
  top: 95%;
}

#btnConfirmarCita {
  padding: 20px;
  border-radius: 20px;
  background-color: #1fdec7;
  font-size: 17px;
}

.btn-fecha {
  width: 50px !important;
  height: 40px !important;
  color: rgb(0, 0, 0) !important;
  text-align: center;
  line-height: 28px;
}
.menu-desplegable-observaciones {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 10px;
  width: 400px;
  height: 500px;
  top: 100%;
  left: 0;
  overflow: hidden;
}

.iconos .observacion {
  margin-left: 20px;
  margin-top: 0px;
  position: relative;
}
.iconos .observacion:hover + .menu-desplegable-observaciones {
  display: block;
}

.mostrar-observaciones {
  display: block;
  position: absolute;
  font-size: 20px;
  left: 22%;
  border: #d9d9d9 solid;
  padding: 10px;
  border-radius: 10px;
  margin-top: -100px;
  overflow: auto;
  overflow-x: hidden;
}

.div-observaciones {
  width: 100%;
  border: #d9d9d9 solid;
  border-radius: 20px;
}

.div-observaciones p {
  color: #000000;
}

.valoracion {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}

input[type="radio"]:checked ~ label,
input[type="radio"]:hover ~ label {
  color: #ffd700;
}

#btnAgregarObservacion {
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

#formularioObservacion {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}

#nombreUsuario,
#textoObservacion {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.valoracion {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.valoracion input[type="radio"] {
  display: none;
}

.valoracion label {
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}

.valoracion input[type="radio"]:checked ~ label,
.valoracion input[type="radio"]:hover ~ label {
  color: #ffd700;
}

#btnEnviarObservacion {
  background-color: #1fdec7;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btnEnviarObservacion:hover {
  background-color: #177f72;
}

.div-observaciones {
  margin-bottom: 10px;
}

.pies {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 24%;
}

#menuHamburguesa {
  display: none;
}

#menuIcono {
  display: none;
  cursor: pointer;
}

#menu {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
}

#logoMobile {
  display: none;
}

/************************************************************************************************************************************/
/*******PAGINA CONSULTAS REALIZADAS**************/

.contenedor-consultas {
  width: 100%;
}

.encabezado {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* Estilos comunes para todos los dispositivos */

.citasMobile h2 {
  margin-left: 20px;
  color: red;
}
.cita,
.receta {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #e3e3e3;
  margin-bottom: 60px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.fecha-hora,
.medicamento {
  font-size: 1.2em;
  font-weight: bold;
}

.medico {
  margin-top: 8px;
  color: #555;
}

.especialidad,
.periodo,
.pautas {
  margin-top: 8px;
  color: #888;
}

.videoconsulta img,
.descargar img {
  width: 60px;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  table {
    display: none;
  }
  .citasMobile {
    display: block;
  }
  .cita {
    padding: 12px;
  }
}
